---
eleventyComputed:
  title: Documentation
layout: layouts/base.njk
pagination:
  data: collections.docs
  size: 6
  alias: docs
  reverse: true
eleventyNavigation:
  key: Participate!
  order: 7
---

 <div class="container">
  <h1>
    {{ site.homepage.sectionHeading3}}
  </h1>
  <p>
    {{site.homepage.description3}}</p>
  {% set docslist = collections.docs | sort(true, true, 'date') %}
  {% include "components/docslist.njk" %}
  <h2>Table of contents</h2>
  <ul>
    <li>
      <a href="1-0-0-introduction">Introduction</a>
    </li>
    <li>
      <a href="1-1-0-introduction-to-climate-knowledge-hunt">Getting started</a>
    </li>
    <li>
      <a href="2-0-0-intro-to-wikibase">Introduction to Wikibase</a>
      <ul>
        <li>
          <a href="3-1-0-knowledge-base">Brief intro to Wikibase</li>
        </ul>
      </li>
      <li>
        <a href="3-0-0-pyami">Using <code>pyami</code> as a central tool</a>
      </li>
      <li>
        <a href="4-0-0-dictionary">What are dictionaries?</a>
      </li>
    </ul>

<div class="box">
      <h3>Run our Alpha Tests to get started</h3>
    <p>To get started with semanticClimate, here are some tests you could run to familiarise yourself with our toolchain.</p>
    <p><a href="../posts/alpha-tests-for-fsci-23/">Alpha Tests for FSCI 2023</a></p>
  </div>
  </div>

<div class="box">
      <h3>IPCC Reports and City Climate Change Plans</h3>
    <p>A web service for easy knowledge access of IPCC Reports for use in climate plans.</p>
    <p><a href="https://semanticclimate.org/city-climate-plans/#H9711914">see here</a></p>
  </div>
  </div>

   


