---
eleventyComputed:
  title: Events
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 6
  alias: events
  reverse: true
eleventyNavigation:
  key: Events
  order: 4
---

  <div class="container">
  <h1>
     {{ site.homepage.sectionHeading2}}
  </h1>
  <p> {{site.homepage.description2 | safe }}</p>
    {% set eventslist = collections.event | sort(true, true, 'date') %}
    {% include "components/eventslist.njk" %}
<h1>Past Events</h1>
    {% set eventslist = collections.past %}
    {% include "components/eventslist.njk" %}

</div>

