---
eleventyComputed:
  title: Events
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 6
  alias: events
  reverse: true
eleventyNavigation:
  key: Events
  order: 4
---

  <div class="container">
  <h1>
     {{ site.homepage.sectionHeading2}}
  </h1>
  <p> {{site.homepage.description2 | safe }}</p>
  <iframe src="https://calendar.google.com/calendar/embed?src=448c2f71f77376c603920920b44fb276941b9ca220bc06305063f8a9d1ad1d86%40group.calendar.google.com&ctz=Etc%2FGMT" style="border: 0" width=100% height="600" frameborder="0" scrolling="no">
  </iframe>
    {% set eventslist = collections.event | sort(true, true, 'date') %}
    {% include "components/eventslist.njk" %}
<h1>Past Events</h1>
    {% set eventslist = collections.past %}
    {% include "components/eventslist.njk" %}

</div>

