---
title: Homepage
layout: layouts/base.njk
permalink: /{{ lang }}/
eleventyNavigation:
  key: Home
  order: 0
---

<div class="hero">
  <div class="container">
    <h1>
      {% if site.hero.title %}
        {{ site.hero.title | safe }}
      {% else %}
        {{ site.meta.title | safe }}
      {% endif %}
    </h1>
    <p class="hero__description">
      {% if site.hero.reglink %}
        <a href = {{site.hero.reglink}}> Register</a>
        {%endif%}
        {% if site.hero.description %}
          {{ site.hero.description }}
        {% else %}
          {{ site.meta.description }}
        {% endif %}
    </p>
    <p class="button-wrap" style="margin-top: 35px">
      <a href="{{ '/en/posts/sc_worklayout' | url }}" class="action learn">Learn more →</a>
    </p>
  </div> <!-- end container -->
</div> <!-- end hero -->

<!-- Volunteers -->
<div class="fullwidth-first">
  <div class="container">
  <div id="volunteer">
    <h2 class="section-title">
      {{ site.homepage.sectionHeading5 | safe }}
    </h2>
    <p class="desc">
      {{site.homepage.description5}}</p>
    <p class="button-wrap">
      <a href="{{ '/en/posts/volunteers-wanted/' | url }}" class="action-volunteer">Volunteer / Intern with us →</a>
    </p>
  </div> <!-- end whatis -->
</div> <!-- end container -->
</div> <!-- end hero -->
  <div class="container">

    <h2 class="section-title events">
      {{ site.homepage.featuredEventsHeading }}
      <a href="{{ '/en/events/' | url }}">See all</a>
    </h2>
    <p>
      {{site.homepage.description2 | safe }}</p> 
  {% set eventslist = (collections.event | sort(true, true, 'date') | featured) %}
  {% include "components/featuredeventslist.njk" %}

  </div> <!-- end container -->

<!-- Projects & Publications -->
<div class="projects-publications-section">
  <div class="container">
    <h2 class="section-title">Projects &amp; Publications</h2>
    {% include "components/projectspublications.njk" %}
  </div>
</div>

<div class="fullwidth">
  <div class="container">
  <div id="whatis">
    <h2 class="section-title">
      {{ site.homepage.sectionHeading1 | safe }}
    </h2>
    <p class="desc">
      {{site.homepage.description1}}</p>
    <p class="button-wrap">
      <a href="{{ '/en/about/' | url }}" class="action">Learn more →</a>
    </p>
  </div> <!-- end whatis -->
</div> <!-- end container -->
</div> <!-- end hero -->
