---
eleventyComputed:
  title: posts
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 6
  alias: posts
  reverse: true
eleventyNavigation:
  key: Blog
  order: 4
---

  <div class="container">
  <h1>
     {{ site.homepage.sectionHeading4}}
  </h1>
  <p> {{site.homepage.description4}}</p>
    {% set postslist = collections.post | sort(true, true, 'date') %}
    {% include "components/postslist.njk" %}

</div>

