---
eleventyComputed:
  title: events
layout: layouts/base.njk
permalink: /events/
pagination:
  data: collections.post
  size: 6
  alias: posts
  reverse: true
eleventyNavigation:
  key: Events
  weight: 7
---

  <div class="container">
  <h1 class="section-title">
     {{ site.homepage.sectionHeading2}}
  </h1>
  <p> {{site.homepage.description2}}</p>
    {% set postslist = collections.event %}
    {% include "components/eventslist.njk" %}
<h1>Past Events</h1>
    {% set postslist = collections.past %}
    {% include "components/eventslist.njk" %}

</div>

