---
eleventyComputed:
  title: "{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }}{% else %}Homepage{% endif %}"
layout: layouts/base.njk
permalink: /{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}
pagination:
  data: collections.post
  size: 6
  alias: posts
  reverse: true
eleventyNavigation:
  key: Home
  weight: 0
---

  <div class="hero">
  <div class="container">
    <h1>
      {% if site.hero.title %}
        {% if pagination.pageNumber != 0 %}Page {{ pagination.pageNumber + 1 }} | {% endif %}
        {{ site.hero.title }}
      {% else %}
        {{ site.meta.title }}
      {% endif %}
      
    </h1>
    <p class="hero__description">
      {% if site.hero.reglink %}
        <a href = {{site.hero.reglink}}> Register</a>
      {%endif%}
      {% if site.hero.description %}
        {{ site.hero.description }}
      {% else %}
        {{ site.meta.description }}
      {% endif %}
    </p>
      <p class="button-wrap" style="margin-top: 35px"><a href="{{ '/pages/about/' | url }}" class="action learn">Learn more →</a></p>
  </div>
  </div>
  
<div class="container">

  <h2 class="section-title">
    Current Event: Open Access Week 2022
    {%- if pagination.pageNumber != 0 %} - Page {{ pagination.pageNumber + 1 }}{% endif %}
  </h2>
  {% include "components/postslist.njk" %}
  <div class="pagination">
      {% if pagination.previous %}
        <a href="{{ pagination.href.previous | url }}" class="pagination__prev">&larr; Prev Page</a>
      {% endif %}
      {% if pagination.next %}
        <a href="{{ pagination.href.next | url }}" class="pagination__next">Next Page &rarr;</a>
      {% endif %}
  </div>

  <div id="whatis">
  <h2 class="section-title">
     {{ site.homepage.sectionHeading1}}
  </h2>
  <p class="desc"> {{site.homepage.description1}}</p>
  <p class="button-wrap"><a href="{{ '/pages/about/' | url }}" class="action">Read more →</a></p>
  </div>
{# Event section #}
  <h2 class="section-title events">
     {{ site.homepage.sectionHeading2}}
     <a href="{{ '/events/' | url }}">See all</a>
  </h2>
  <p> {{site.homepage.description2}}</p>
     {% set postslist = collections.event %}
     {% include "components/eventslist.njk" %}
</div>

