<section>
    {% if page.url == "/" | url %}
    {% set lmt = 2 %}
    {% endif %}
    {% for post in postslist.slice(0, lmt) %}
        <article class="event">
            <h3>
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h3>
            <p>
                <time>
                    {{ post.date | readableDate }}
                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            {% register post.url | url, "_self" %}

        </article>
        <br>
    {% endfor %}
</section>