<footer class="footer">
  <p>
    <a href={{ "/en/gdpr/" | url}}>Privacy Policy & GDPR</a> | 
    <a href={{ "/en/imprint/" | url }}>Imprint</a> | 
    <a href={{ "/en/about/" | url }}>About</a> | 
    <a target="_blank" href="https://github.com/petermr/petermr/discussions/">Contact</a> | 
    <a target="_blank" href="https://github.com/petermr/semanticClimate/blob/main/LICENSE">Licensing - Apache License 2.0</a> | 
    Follow uss on <a target="_blank" href = "https://github.com/petermr/semanticClimate"> GitHub </a>
    </p>
</footer>