<footer class="footer">
  <p>
    <a href="/p/en/gdpr">Privacy Policy & GDPR</a> | 
    <a href="/p/en/imprint">Imprint</a> | 
    <a href="/p/en/about">About</a> | 
    <a target="_blank" href="https://github.com/petermr/petermr/discussions/">Contact</a> | 
    <a target="_blank" href="https://github.com/petermr/semanticClimate/blob/main/LICENSE">Licensing - Apache License 2.0</a> | 
    Follow us on <a target="_blank" href = "https://github.com/petermr/semanticClimate"> GitHub </a>
    </p>
</footer>