<section>
    {% if page.url == "/" | url %}
    {% endif %}
    {% for member in memberslist | sort(true, true, "date")%}
        <article class="event">
            <h3>
                <a href="{{ member.url | url }}">
                    {% if member.data.title %}
                        {{ member.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h3>
            <p>
                <time>
                    {{ member.date | readableDate }}
                </time>
            </p>
            {% if member.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ member.data.description }}
                </p>
            {% endif %}


        </article>
        <br>
    {% endfor %}
</section>