<section>
  {% if page.url == "/" | url %}{% endif %}
  {% for post in postslist %}
    <article class="event">
      <h3>
        <a href="{{ post.url | url }}">
          {% if post.data.title %}
            {{ post.data.title }}
          {% else %}
                        Untitled
                    {% endif %}
        </a>
      </h3>
      {% if post.data.description %}
        <p class="text-lg text-gray-500 mb-3">
          {{ post.data.description }}
        </p>
      {% endif %}

      <div class="card__tags">
        {% for tag in post.data.tags %}
          {% if tag != 'post' %}
            <a href="{{ '/en/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </article>
    <br>
  {% endfor %}
</section>