<section>
  {% if page.url == "/" | url %}{% endif %}
  {% for post in postslist %}
    {% if not post.data.hide %}

    <article class="post">
      <h3>
        <a href="{{ post.url | url }}">
          {% if post.data.title %}
            {{ post.data.title }}
          {% else %}
                        Untitled
                    {% endif %}
        </a>
      </h3>
      {% if post.data.summary %}
        <p class="text-lg text-gray-500 mb-3">
          {{ post.data.summary }}
        </p>
      {% endif %}

      <div class="card__tags">
        <time>{{ post.data.date | readableDate }}</time> 
        <span class="post-author">by {{ post.data.author }}</span>

        {% for tag in post.data.tags %}
          {% if tag != 'post' %}
            <a href={{ '/en/tags/' | url }}{{ tag | slug }}/>{{ tag }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </article>
    {% endif %}
  {% endfor %}
</section>