---
layout: layouts/base.njk
---

<div class="container">
  <h1>{{ title }}</h1>
  {{ content | safe }}

  <br><hr>
  {% if not hideTagsList %}
    {% for tag in tags %}
      {% if tag != 'post' %}
  <div class="card__tags">
        <a href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>
        </div>
        {%- if not loop.last %}, {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  <br><br>
  <a href="javascript:history.back()">&larr; Back</a>
</div>
